# Introduction to Python

Welcome to the course!
Our aim is to develop robust experiment applications in Python and use structured approaches and techniques for programming that make our lives easier.
We start our journey by building or revising our fundamental knowledge of Python.
This notebook focuses on how to represent and manipulate different kinds of data using basic Python operations.

In [ ]:
# run this cell to check your installation of psychopy
%pip install psychopy

## 1. Data Types and Variables

Programs receive, create and operate on data.
There are many different types but a few **essential** ones can be found in most programming languages.
 In Python, they are called:

- **int**: integers or non-decimal numbers, example -7, 0, 101
- **float**: floating-point numbers with a limited number of decimal places, for example: 0.1, pi, 1/3
- **str**: a string of characters, marked by quotations, for example "a", "13", "hello"
- **bool**: boolean logical values, can be either True or False

The type determines the range of **values** the data can take on as well as the set of **operations** that can be performed on them (more on this in the next section).
For each type there is a function with the same name that converts data to that type.
For example `int(x)` converts the value of `x` to an integer --- this is known as **type casting**.


### Reference Table
| Code                | Description                                                                                    |
| ---                 | ---                                                                                            |
| `x = 3`             | Assign the integer number `3` to the variable `x`                                              |
| `x = 3.14`          | Assign the floating number `3.14` to the variable `x`                                          |
| `x = "hi"`          | Assign the string `"hi"` to the variable `x`                                                   |
| `x = True`          | Assign the boolean value `True` to the variable `x`                                            |
| `type(x)`           | Get the data type of variable `x`                                                              |
| `int(x)`, `float(x)`, `str(x)`, `bool(x)` | Convert the variable `x` to an integer, float, string, boolean  |

**Exercise**: Determine the type of `x`

In [4]:
a = 123;
x=3
type(x)

int

**Exercise**: Determine the type of `ok`

In [5]:
ok = True;
type(ok)

bool

**Exercise**: Convert `n_trials` to a float

In [8]:
n_trials = 13;
n_trials = float(n_trials)
type(n_trials)

float

**Exercise**: Convert `percent` to a string

In [9]:
percent = 0.75;
percent = str(percent)

**Exercise**: Convert `nothing` to a boolean

In [10]:
nothing = "";
nothing= bool(nothing)
print(nothing)

False

**Exercise**: Create a boolean variable that is `False` and convert it to an integer

In [11]:
x=False
x= int(x)
x

0

**Exercise**: Create a float variable that is `0.001` and convert it to a string

In [12]:
x=0.001
x= str(x)
x

'0.001'

**Exercise**: Create a string variable `"Hello"` and convert it to a boolean

In [14]:
x="False"
x= bool(x)
x

True

## 2. Operators

Operators are special symbols or keywords that perform operations on values and variables.
They're the basic tools Python uses to work with data.
One important class are arithmetic operators, like `+` and `*`.
In some situations, these behave as you would expect: for example, adding two numbers computes their sum.
However, sometimes they do things that may be unexpected: for example, adding two strings concatenates them.
Some combinations of data types an operators are not defined at all: for example, you can't subtract one string from another.
Another important class are comparisons such as `<` or `==`.
These allow us to ask: is one value greater, smaller or the same as another one, and they always return either `True` or `False`.

### Reference Table

|Code                             |Description                                                         |
|---                              |---                                                                 |
|`x+y`,`x-y`,`x/y`, `x*y`         | Add, subtract, divide, multiply two numbers `x` and `y`            |
| `x<y`, `x>y`, `x==y`, `x!=y`    | Check whether `x` is smaller, larger, equal to, not equal to `y`   |
| `x<=y`, `x>=y`                  | Check whether `x` is smaller than or equal to, larger than or equal to `y` |
| `"Psycho"+"Py"`                 | Concatenate the two strings (result: `"PsychoPy"`)                 |
| `"pew" * 2`                     | Repeat the string two times (result: `"pewpew"`)                   |
| `9 ** 2`                        | Square the number `9` (result: `81`)                               |
| `7 % 3`                         | Get the remainder of dividing `7` by `3` (result: `1`)             |

**Exercise**: Add `134` and `4721`

In [16]:
x=134
y=4721
x+y

4855

**Exercise**: What is the remainder of dividng 13 by 5?

In [17]:
x=13
y=5
x%y

3

**Exercise**: What is `567` squared?

In [18]:
x=567
x**2

321489

**Exercise**: Concatenate the two strings

In [19]:
x = "Hello"
y = "World";
x+y

'HelloWorld'

**Exercise**: What is the data type of the result from dividing `6` by `2`

In [20]:
x=6
y=2
type(x/y)

float

**Exercise**: What is larger? 23 times 81 or 44 squared?

In [21]:
x1=23
x2=81
y=44
x1*x2>y**2

False

**Exercise**: Divide 28 by the sum of 3 and 5

In [22]:
x=28
y1,y2=3,5
x/(y1+y2)

3.5

**Exercise**: Repeat the string below 3 times

In [24]:
he = "He";
print("List with 3 elements", [he]*3)
print("Concatenated string of 3 elements", he*3)

List with 3 elements ['He', 'He', 'He']
Concatenated string of 3 elements HeHeHe

**Exercise**: Which string value is larger, `"a"` or `"b"`?

In [30]:
if len("a")>len("b"):
    print("a")
elif len("a")<len("b"):
    print("b")
else:
    print("equal length")
    
"c">"b"

equal length

True

**Exercise**: Can `N` be evenly divided by 3?

In [32]:
N = 35627
print(N%3==0)

False

## 3. Lists

Often, we want to represent not only a single datum but collections of data.
The `list` is a datatype that allows us to do exactly that.
Think of lists as a container that can hold any kind of data --- even other lists.
Since lists are ordered we can also access specific elements of the list by providing their indices.
One think to keep in mind is that Python starts to count at 0 so `x[0]` will return the 1st element of a list and `x[1]` will actually return the second one.

### Reference Table
|Code|Description|
|---|---|
| `x = [7, 1, 4]` | Define a list containing three values |
| `[2, 3] + [1]` | Concatenate two lists (result: `(2,3,1)`)|
| `[1] * 3`      | Repeat the list (result: `[1,1,1]`)|
| `x[-1]`       | Get the last element of `x`   |
| `x[2:5]`      |  Get the 3rd, 4th and 5th element of `x`|
| `x[1:]`       | Get all elements of `x`, except the first |
| `x.append(1)` |  Append the number `1` to the list `x`|
| `len(x)` | Get the length (i.e. number of elements in) a tuple or list `x`| 
| `sum(x)`  | Get the sum of a tuple or list `x` |

**Exercise**: Create a list that contains the numbers 1, 2, and 3

In [33]:
l=[1,2,3]

**Exercise**: Concatenate the two lists defined below

In [34]:
weekdays = ["mo", "tue", "wed", "thu", "fr"]
weekend = ["Sa", "Sun"]
weekdays+weekend

['mo', 'tue', 'wed', 'thu', 'fr', 'Sa', 'Sun']

**Exercise**: Append the next number `8` to the `fibonacci` list

In [35]:
fibonacci = [0, 1, 1, 2, 3, 5];
fibonacci.append(8)
fibonacci

[0, 1, 1, 2, 3, 5, 8]

**Exercise**: Get the length of the list of `zeros` defined below

In [36]:
zeros = [0, 0, 0, 0] * 23;
len(zeros)

92

**Exercise**: What is the sum of the list `true_and_false`?

In [37]:
true_and_false = [True, False, False, True, True, True]
sum(true_and_false)

4

**Exercise**: Get the 3rd element of the `dice_numbers` list

In [38]:
dice_numbers = [1, 2, 3, 4, 5, 6];
dice_numbers[2]

3

**Exercise**: Get all letters of the `alphabet` except for `"z"`

In [40]:
alphabet = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'];
alphabet.remove('z')
alphabet

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y']

**Exercise**: Create a list of 100 zeros

In [41]:
z100=[0]*100
len(z100)

100

**Exercise**: Which of the two lists defined below is longer?

In [ ]:
list_of_lists = [[[3], [1]], [[2]]]
l1=list_of_lists[0]
l2=list_of_lists[1]
l1>l2

False

## BONUS: Puzzles

Here is a little bonus section that lets you explore some more intricate details of data types and operators and see some ways in which they can produce unexpected results.

**Excercise**: Compute the square root of 1156 using only the operators introduced in this notebook

In [42]:
1156**0.5

34.0

**Excercise**: What percentage of Elements in the list below is `True`?

In [45]:
was_hit = [True, False, True, True, False, False, True, False, False, True, False, False, False, True]
p=sum(was_hit)/len(was_hit)*100
print("Percentage of 1s is", p)

Percentage of 1s is 42.857142857142854

**Exercise**: What happens if you convert a boolean value `False` to a `str` and then back to a `bool`?

In [47]:
x1=False
x2=str(x1)
x3=bool(x2)
x1, x2,x3

(False, 'False', True)

**Exercise**: Check if `0.1 + 0.2` is equal to `0.3`:

In [63]:
import math

x1,x2,x3=0.1,0.2,0.3
print("With math.isclose", math.isclose(x1+x2,x3))
print("With round (,2)", round(x1+x2,2)==round(x3,2))

With math.isclose True
With round (,2) True